
:root {
    --main-text-color: #252B42;
    --second-text-color:#737373;
    --light-text-color:#FFFFFF;
    --accent-color:#FF7B47;
    --dark-accent-color:#0D5C63;
    --hover-color: #2A7CC7;

}

body {
    font-family: Montserrat, Tahoma, sans-serif;
    font-size: 14px;
    letter-spacing: 0.2px;
    line-height: 1.43;
    background-color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6, ul, ol, p {
    margin-top: 0;
    margin-bottom: 0;
    padding-inline-start: 0;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }

.container {
    width: 1080px;
    padding: 0 15px;
    margin-right:  auto;
    margin-left: auto;
}

.section {
    padding-top: 80px;
    padding-bottom: 80px;
}

/* ------------------------------------------Header --------------------------------------------*/

.header-container {
    display: flex;
    align-items: center;
    }

.logo {
    color: var(--main-text-color);
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.1px;
    line-height: 1.33;
    margin-right: 132px;
}

.site-nav {
    display: flex;
}

.site-nav-item {
    margin-right: 21px;
}

.site-nav-item:last-child {
    margin-right: 0;
}

.site-nav-link {
    display: block;
    color: var(--second-text-color);
    font-weight: 600;
    line-height: 1.71;
    padding-top: 34px;
    padding-bottom: 46px;
}

.site-nav-link:hover,
.site-nav-link:focus {
    color: var(--hover-color);
}



/* ------------------------------------------Hero --------------------------------------------*/

.hero-title {
    
    color: var(--main-text-color);
    font-weight: 800;
    font-size: 58px;
    line-height: 1.38;
    max-width: 500px;
 
    margin-bottom: 35px;
    
}
.hero-text {
    color: var(--second-text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    max-width: 376px;
    margin-bottom: 35px;
}

.hero-buttons {
    display: flex;
}

.hero-modal-btn {
    display: block;
    min-width: 187px;
    color: var(--light-text-color);
    background-color: var(--accent-color);
    border: 1px solid transparent;
    border-radius: 37px;
    padding: 10px 36px;
    font-weight: 500;
    line-height: 2;
    margin-right: 10px;
}

.hero-modal-btn:hover,
.hero-modal-btn:focus {
background-color: transparent;
color: var(--dark-accent-color);
border-color: var(--hover-color);
}

.hero-link {
    display: inline-block;
    min-width: 157px;
    color: var(--light-text-color);
    background-color: var(--accent-color);
    border: 1px solid transparent;
    border-radius: 37px;
    padding: 10px 36px;
    font-weight: 500;
    line-height: 2;
   
}


.hero-link:hover,
.hero-link:focus {
background-color: transparent;
color: var(--dark-accent-color);
border-color: var(--hover-color);
}